.success-message {
  padding: 15px;
  font-size: 16px;
}
.fail-message {
  width: 100%;
}
.entry-header {
  display: none;
}
.inline-block {
  display: inline-block;
}
.top-align {
  vertical-align: top;
}
#tag-generator {
  position: relative;
  width: 100%;
}
#tag-generator #generator-spinner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
  opacity: 0.8;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#tag-generator #generator-page-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}
#tag-generator #tag-preview {
  width: 265.16px;
  margin-right: 20px;
  height: 685.16px;
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window > * {
  position: relative;
}
#tag-generator #tag-preview #tag-preview-window {
  background: #234a8b;
  padding: 5.6px;
  width: 265.16px;
  height: 685.16px;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window .tag-preview-section {
  padding: 7px 9.8px;
  width: 245.56px;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window .tag-preview-section .preview-section-title {
  top: -14px;
  left: 0;
  padding: 0;
  z-index: 20;
  height: 14px;
  position: absolute;
  background: #878787;
  width: 100%;
  border: none;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header {
  text-align: center;
  height: 177.24px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header #logoWrap {
  height: 42px;
  margin-bottom: 7px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header #logoWrap #dealershipLogo {
  width: auto;
  height: auto;
  max-height: 42px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header .preview-h3, #tag-generator #tag-preview #tag-preview-window #tag-preview-header .preview-h4 {
  padding: 0;
  margin: 0;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header .preview-h3, #tag-generator #tag-preview #tag-preview-window #tag-preview-header preview-h4, #tag-generator #tag-preview #tag-preview-window #tag-preview-header #discounts li {
  font-size: 11.9px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header #vitalStats {
  margin-top: 14px;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header #vitalStats * {
  text-align: left;
  font-size: 10.5px;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header #vitalStats li {
  margin-bottom: 2.8px;
  font-size: 10.5px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-header > * {
  font-size: 11.9px;
  font-family: 'Arial';
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-vitals {
  margin-top: 19.6px;
  height: 187.74px;
  padding-bottom: 52.5px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-vitals * {
  font-size: 10.5px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-vitals .total-block {
  position: absolute;
  display: block;
  width: inherit;
  margin: 0;
  left: 0;
  padding-left: 9.8px;
  bottom: 10.5px;
  box-sizing: content-box;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-vitals .total-block .total-label {
  box-sizing: content-box;
  vertical-align: top;
  display: inline;
  font-size: 10.5px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-vitals .total-block .total-field {
  box-sizing: content-box;
  font-family: arial;
  font-size: 10.5px;
  float: right;
  border: none;
  width: auto;
  vertical-align: top;
  margin: 0;
  display: inline;
  padding: 0;
  background: none;
  font-size: 10.5px;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-footer {
  margin-top: 19.6px;
  padding: 0;
  height: 199.64px;
  width: 265.16px;
  background: #234a8b;
}
#tag-generator #tag-preview #tag-preview-window #tag-preview-footer #customImage {
  width: 100%;
  background: white;
  height: 199.64px;
}
#tag-generator #tag-preview .preview-label, #tag-generator #tag-preview .preview-span {
  vertical-align: top;
  font-weight: bold;
}
.branding-option {
  margin-top: 3px !important;
  width: 100%;
  height: 50px;
  background: #fff;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: 2px outset buttonface;
  box-sizing: border-box;
  padding: 2px !important;
  font-family: 'Oswald', sans-serif;
}
.selected-option {
  background: #dadbdc;
  color: #bf2026;
}
.dz-preview .dz-details img {
  display: none;
}
.dz-preview .dz-details .dz-filename {
  display: none;
}
.dz-preview .dz-details .dz-size {
  display: none;
}
.dz-preview .dz-success-mark {
  display: none;
}
.dz-preview .dz-error-mark {
  display: none;
}
.basal-font {
  font-size: 10.5px;
  font-family: 'Arial';
}
.dialogForm {
  padding: 25px;
  overflow: none;
}
#tag-options {
  width: 600px;
  margin: 0;
  padding: 0;
  height: 780px;
  display: inline-block;
  vertical-align: top;
  /* OVERRIDES */
}
* {
  box-sizing: border-box;
}
li, ul, p {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
ul {
  list-style: none;
}
#content {
  padding: 0;
  margin: 0;
  width: 100%;
}
fieldset {
  border: none;
  /* FONT STYLES */
}
.half-width {
  width: 47.5%;
  margin-left: 2%;
}
.quarter-width {
  width: 23.5%;
  margin-left: 1%;
}
.three-quarters-width {
  width: 71%;
  margin-left: 2.5%;
}
.full-width {
  width: 100%;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.bf {
  font-weight: 800;
}
.ital {
  font-style: italic;
}
.red-text {
  color: #bf2026;
}
.black-text {
  color: #000;
}
.white-text {
  color: #fff;
}
.green-text {
  color: #0f0;
}
.red-background {
  background: #bf2026;
}
.green-background {
  background: #24a649;
}
.blue-background {
  background: #23498a;
}
.gray-background {
  background: #929491;
}
.black-background {
  background: #000;
}
.white-background {
  background: #fff;
}
.divider {
  border-style: solid;
  border-color: #dadbdc;
  border-width: 0px;
}
.divider-bottom {
  border-bottom-width: 3px;
}
.divider-right {
  border-right-width: 3px;
  padding-right: 10px;
  margin-right: 10px;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.font-sans-serif {
  font-family: Arial, Helvetica, sans-serif !important;
}
.font-serif {
  font-family: "Times New Roman", Times, serif !important;
}
.font-monospace {
  font-family: "Courier New", Courier, monospace !important;
}
.new-line {
  display: block;
  margin-bottom: 10px;
}
.invisible {
  display: none !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-right {
  position: absolute;
  right: 0;
  top: 0;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.run-in {
  display: inline-block;
}
.width-short {
  width: 50px !important;
}
.hover-blue:hover {
  color: #00f;
  cursor: pointer;
}
.list-head {
  font-size: 10.5px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
}
.list-vertical {
  margin-bottom: 10px;
}
.list-vertical li {
  overflow: hidden;
  margin-bottom: 10px;
}
.indent-1 {
  padding-left: 10px;
}
.font-arial {
  font-family: arial;
}
px-10 {
  font-size: 10px;
}
.inline {
  display: inline;
}
.inline-list li {
  display: inline;
  padding-right: 10px;
}
.inline-block li {
  display: inline-block;
  padding-right: 10px;
}
.full-width {
  width: 100%;
  /* GENERATOR ELEMENTS */
  /* OPTIONS */
}
#tag-frame-0.row-1.col-2 {
  width: 57px;
}
#tag-preview-info {
  height: 200px;
}
#tag-footer > * {
  text-align: center;
  color: white;
}
.main {
  width: 920px;
}
.upload-window {
  width: inherit;
}
.upload-image {
  .width: 100%;
  /* HEADS */
}
.tag-h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  /* PREVIEW */
}
.option {
  font-family: sans-serif;
  font-size: 10px;
}
.inline-list-head .inline-h4 {
  vertical-align: middle;
  margin: 0 !important;
  padding: 0px 15px 0px 0px !important;
  height: 35px;
  font-weight: 400;
}
.colorbox-wrap {
  vertical-align: middle;
  cursor: pointer;
  padding: 3px !important;
  border: 1px solid rgba(255, 255, 255, 0);
}
.colorbox {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.colorbox-wrap.selected {
  border: 1px solid black;
  /* FRAMES */
}
.tag-frame {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 25px 25px 18px 25px;
}
.tag-frames {
  height: 657px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: -6px;
  /* TABS */
}
.active > .tag-tab {
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.inactive > .tag-tab {
  border: none;
  border-bottom: 1px solid #000;
  background: #dadbdc;
}
.inactive > .tag-tab-text {
  color: #000;
}
.active > .tag-tab-text {
  color: #bf2026;
}
.tag-tab-holder {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 185px;
}
.tag-tabs {
  margin-left: 10px;
}
.tag-tab {
  position: relative;
  /* IE 9 */
  -ms-transform: skew(-15deg, 0deg);
  /* Chrome, Safari, Opera */
  -webkit-transform: skew(-15deg, 0deg);
  transform: skew(-15deg, 0deg);
  border: 1px solid #000;
  height: 40px;
}
.inactive > .tag-tab-text:hover {
  color: #bf2026;
}
.tag-tab-text {
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  /*ROWS & COLS */
}
.tag-row {
  display: block;
  margin-bottom: 23px;
  /* LISTS */
  /* Horizontal */
}
.tag-row .tag-col {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.tag-row .tag-col:first-of-type {
  padding-left: 0;
  margin-left: 0;
}
.tag-h-ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
.tag-h-ul > li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  /* Vertical */
}
.tag-v-ul {
  position: relative;
}
.tag-v-ul > li {
  height: 35px;
  position: relative;
  display: block;
  vertical-align: top;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 3px 0 4px 0;
  /* Form Variables */
}
.tag-input[type="text"], .tag-input[type="password"], .tag-select, .tag-input[type="number"] {
  height: 36px;
  border: 1px solid black;
  background: #dadbdc;
  padding-top: 4px;
  padding-left: 24px;
  width: 100%;
  border-radius: 0;
}
.tag-input[type="number"] {
  width: 75px;
}
.char-input {
  height: 36px;
  position: relative;
  padding: 4px 3px;
  width: 25px;
  border: 1px solid black;
  background: #dadbdc;
}
.tag-label {
  width: auto;
}
button {
  background: #fff;
  cursor: pointer !important;
  border-radius: 5px;
  text-align: center;
  border: 2px outset buttonface;
  box-sizing: border-box;
  padding: 8px 15px;
  margin-top: 0;
}
.tag-button {
  font-family: 'Oswald', sans-serif;
  height: 36px;
  border-radius: initial;
  padding: 0;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block;
  width: 259px;
  position: relative;
}
.add-button:hover {
  border-color: #91a4c5 #234a8b #91a4c5 #234a8b;
}
.add-button:focus {
  border-top: 2px solid #777;
  /* background: radial-gradient(ellipse closest-corner at 58% 59%, #EEEEEE, #BBBBBB); */
  border-left: 2px solid #777;
  outline: 0;
  color: #000;
  margin: 2px;
}
.tag-button:hover {
  background: #dadbdc;
}
.tag-button:focus {
  border-top: 2px solid #777;
  /* background: radial-gradient(ellipse closest-corner at 58% 59%, #EEEEEE, #BBBBBB); */
  border-left: 2px solid #777;
  outline: 0;
  color: #000;
}
[type=file] {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: inherit !important;
  height: inherit !important;
  padding: inherit !important;
  overflow: hidden;
  z-index: 200 !important;
  cursor: pointer !important;
}
.upload-window {
  width: auto;
  height: 100px;
  border: 1px solid black;
}
#upload-logo, #upload-label {
  background: #dadbdc;
  height: 75px;
  text-align: center;
  position: relative;
  overflow: auto;
}
#upload-logo img, #upload-label img {
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0;
  cursor: pointer;
}
#upload-logo img:hover, #upload-label img:hover {
  border: 1px solid #bf2026;
}
.vertical-center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* Site Specific */
}
[name=labelCaption] {
  width: 257px;
  height: 56px;
}
#tag-frame-0 .row-3 .col-1 {
  width: 272px;
}
.tag-gallery {
  height: 255px;
  width: 100%;
  border: 1px solid black;
  padding: 0;
}
.tag-gallery #upload-label {
  padding-top: 20%;
  margin: 0;
  height: 253px;
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  width: 49.5%;
}
.tag-gallery .image-collection {
  vertical-align: top;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 255px;
  width: 48.5%;
}
.tag-gallery .image-collection .customImageView {
  display: block;
  width: 100%;
  border: 2px dotted #878787;
  display: inline-block;
  cursor: pointer;
}
.tag-gallery .image-collection .customImageView:hover {
  border: 2px dotted #bf2026;
}
.branding-text li {
  margin: 0px !important;
}
.branding-text li [name=dealershipName] {
  margin-top: 0px !important;
}
.branding-text li [name=dealershipTagline] {
  margin-top: 5px !important;
  height: 65px !important;
}
.logo-gallery {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 105px;
  border: 1px solid black;
  background: #dadbdc;
}
.logo-gallery #upload-logo {
  padding-top: 10%;
  width: 100%;
}
.logo-gallery .logo-collection {
  position: relative;
}
.logo-gallery .logo-collection .dealershipLogoView {
  position: relative;
  width: 100%;
}
.logo-gallery .logo-collection .dealershipLogoView:hover {
  border: 1px solid #bf2026;
}
#tag-frame-1 > .tag-row > .tag-col {
  width: 100%;
}
[name=vehicleConfig] {
  display: block !important;
}
[name=vehicleConfig] .tag-v-ul li {
  width: 100%;
}
[name=vehicleConfig] .tag-v-ul li input[type=text], [name=vehicleConfig] .tag-v-ul li select {
  width: 300px;
  position: absolute;
  left: 105px;
  top: 0;
}
[name=vehicleConfig] .tag-v-ul li .tag-label {
  width: 100px;
}
.block-list-container {
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  width: 350px;
  height: 200px;
}
.block-list-container .block-list {
  width: 100%;
}
.block-list-container .block-list input[type=checkbox] {
  width: 25px !important;
}
.block-list-container .block-list input[type=text], .block-list-container .block-list select {
  width: 150px !important;
}
.block-list-container .block-list li {
  overflow: hidden;
  padding: 5px 5px 3px 5px;
  height: 46px;
  box-sizing: border-box;
}
.block-list-container .block-list li:nth-child(even) {
  background: #fff;
}
.block-list-container .block-list-add-container {
  height: 46px;
  padding: 5px 5px 3px 5px;
}
.block-list-container .block-list-add-container .block-list-new-item {
  color: white;
  height: 46px;
  padding: 5px 5px 3px 5px;
}
.block-list-container .block-list-add-container .block-list-new-item .price-input {
  width: 75px;
  float: right;
}
.block-list-container .block-list-add-container .block-list-new-item .price-input:before {
  content: "$";
  color: white;
}
.block-list-container .block-list-add-container .block-list-new-item .price-input:focus, .block-list-container .block-list-add-container .block-list-new-item option-input:focus {
  border-color: #bf2026;
}
.block-list-container .block-list-add-container .block-list-new-item .option-input {
  width: 180px;
}
.block-list-container .block-list-add-label {
  color: black;
  border: 1px solid black;
  height: 46px;
  padding: 5px 5px 3px 5px;
}
.block-list-container .block-list-add-label:hover {
  color: #bf2026;
  background: white;
}
.vehicle-numbers {
  width: 242px;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.block-list > li:nth-child(odd) {
  background: #dadbdc;
}
.options-list > li {
  overflow: hidden;
  margin-bottom: 5px;
}
.tag-checkbox {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#tag-frame-3 .row-2 .list-vertical li {
  width: 300px;
}
#tag-frame-0 > div.tag-row.row-1.divider.divider-bottom > div.tag-col.divider.divider-right.first-col.col-1 > ul {
  margin-top: 5px;
  /* .ls-container, #menu-main-menu {
	display: none;
} */
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-m4fb6s');
  src: url('fonts/icomoon.eot?#iefix-m4fb6s') format('embedded-opentype'), url('fonts/icomoon.woff?-m4fb6s') format('woff'), url('fonts/icomoon.ttf?-m4fb6s') format('truetype'), url('fonts/icomoon.svg?-m4fb6s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pencil:before {
  content: "\e600";
}
.icon-folder:before {
  content: "\e60d";
}
.icon-folder-open:before {
  content: "\e60e";
}
.icon-print:before {
  content: "\e601";
}
.icon-screen:before {
  content: "\e602";
}
.icon-download:before {
  content: "\e603";
}
.icon-upload:before {
  content: "\e604";
}
.icon-disk:before {
  content: "\e607";
}
.icon-storage:before {
  content: "\e608";
}
.icon-key:before {
  content: "\e609";
}
.icon-key2:before {
  content: "\e605";
}
.icon-lock:before {
  content: "\e60a";
}
.icon-remove:before {
  content: "\e606";
}
.icon-download2:before {
  content: "\e60b";
}
.icon-upload2:before {
  content: "\e60c";
}
.dialogForm {
  width: 300px;
  height: auto;
}
.dialogForm button {
  margin: 15px auto 0px auto;
  display: block;
}
#pdfControls {
  margin-top: 5px;
}
#pdfControls li {
  display: inline-block;
}
#control-panel .tag-controls .tag-nav-buttons li {
  vertical-align: top;
  height: 61px;
}
#control-panel .tag-controls .tag-nav-buttons li .tag-h4 {
  padding-top: 5px;
  vertical-align: top;
}
#control-panel .tag-controls .tag-nav-buttons li .tooltip {
  visibility: hidden;
  text-align: center;
  color: #bf2026;
}
#control-panel #login-info {
  position: absolute;
  top: 0;
  right: 18px;
}
#control-panel #login-info .login-links #login-message {
  padding-top: 5px;
}
#control-panel #login-info .login-links #login-label .icon-button .login-txt {
  padding-right: 4px;
}
#control-panel #login-info .welcome-user-text {
  display: inline;
  padding-right: 15px;
}
.signupAlert {
  color: #bf2026;
  padding: 15px 10px 5px 10px;
  text-align: center;
}
