$font-stack: "Oswald", "Open Sans Condensed", Helvetica, sans-serif;

$primary-color: #bf2026;
$gray: #dadbdc;

$label-font: arial, sans-serif;

$scale: .7;
$target-w: 390px;
$target-h: 990px;

$basal-font-size: 15px * $scale;
$basal-font: 'Arial';
$h3-font-size: 17px * $scale;

$preview-padding: 8px * $scale;
$preview-width: ($target-w - ($preview-padding * 2)) * $scale;
$preview-height: ($target-h - ($preview-padding * 2)) * $scale;

$section-width: ($target-w - ($preview-padding * 2)) * $scale;

$section-padding-top: 10px * $scale;
$section-padding-bottom: 10px * $scale;
$section-padding-right: 14px * $scale;
$section-padding-left: 14px * $scale;
$section-border-top: 20px * $scale;

$section-title-height: 20px * $scale;
$section-margin-top: $section-title-height + (8px * $scale);

$vitals-padding-bottom: 75px * $scale;
$vitals-margin-top: 20px * $scale;
$vitals-li-margin-bottom: 4px * $scale;


$total-padding-left: 14px * $scale;
$total-bottom: 15px * $scale;

$logo-height: 60px * $scale;
$logo-margin-bottom: 10px * $scale;


$difference: 40px * $scale;

$section-height: (($target-h / 3) - ($preview-padding * 3)) * $scale;
$section-height-1: $section-height - $section-padding-bottom - $section-padding-top - $difference;
$section-height-2: $section-height - $vitals-padding-bottom - $section-padding-top + $difference;
$section-height-3: $section-height - $section-margin-top;

.no-left-padding {
	padding-left: 0px!important;
}

.success-message {
	padding: 15px;
	font-size: 16px;
}

.fail-message {
	width: 100%;
}

.entry-header {
	display: none;
}

.inline-block {
	display: inline-block;
}

.top-align {
	vertical-align: top;
}

#tag-generator {
	position: relative;
	width: 100%;

	#generator-spinner-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9998;
		opacity: .8;
		background: white;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	#generator-page-loader {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 9999;
	}
	
	#tag-preview {
		
		width: $preview-width;
	  	margin-right: 20px;
	  	height: $preview-height;
	  	display: inline-block;
	 	vertical-align: top;
		box-sizing: content-box;
		
		#tag-preview-window > * {
			position: relative;
		}
		
		#tag-preview-window {
			background: #234a8b;  	
			padding: $preview-padding;
			width: $preview-width;
			height: $preview-height;
			box-sizing: content-box;
	
	
			
			.tag-preview-section {
				padding: $section-padding-top $section-padding-left;
				width: $section-width - $section-padding-left - $section-padding-right;
				box-sizing: content-box;
			
				.preview-section-title {
					top: -$section-title-height;
					left: 0;
					padding: 0;
					z-index: 20;
					height: $section-title-height;
					position: absolute;
					background: #878787;
					width: 100%;
					border: none;
					box-sizing: content-box;
				}
			}
			
			#tag-preview-header {
				text-align: center;
				height: $section-height-1;
				
				#logoWrap {
					height: $logo-height;
					margin-bottom: $logo-margin-bottom;
	
					#dealershipLogo {
						width: auto;
						height: auto;
						max-height:$logo-height;	
					}
				}
		
				.preview-h3, .preview-h4 {
					padding: 0;
					margin: 0;
				}
				
				.preview-h3, preview-h4, #discounts li {
					font-size: $h3-font-size;
				}	
				
				#vitalStats {
					margin-top: $vitals-margin-top;	
					box-sizing: content-box;
					* {
						text-align: left;	
						font-size: $basal-font-size;
						box-sizing: content-box;
		
					}
					li {
						margin-bottom: $vitals-li-margin-bottom;
						font-size: $basal-font-size;
					}
				}
			}
	
			#tag-preview-header > * {
				font-size: $h3-font-size;
				font-family: $basal-font;
			}
			
			#tag-preview-vitals {
				margin-top: $section-margin-top;
				height: $section-height-2;
				padding-bottom: $vitals-padding-bottom;
				
				* {
					font-size: $basal-font-size;
				}
			
				.total-block {
					position: absolute;
					display: block;
					width: inherit;
					margin: 0;
					left: 0;
					padding-left: $total-padding-left;
					bottom: $total-bottom;
					box-sizing: content-box;
										
					.total-label {
						box-sizing: content-box;
						vertical-align: top;
						display: inline;
						font-size: $basal-font-size;
					}
					
					.total-field {
						box-sizing: content-box;
						font-family: arial;
						font-size: $basal-font-size;
						float: right;
						border: none;
						width: auto;
						vertical-align: top;
						margin: 0;
						display: inline;
						padding: 0;
						background: none;
						font-size: $basal-font-size;
					}
				}
				
				
		
			
			}	
			
			#tag-preview-footer {
				margin-top: $section-margin-top;
				padding: 0;
				height: $section-height-3;
				width: $section-width;
				background: #234a8b;
			
				#customImage {
					width: 100%;
					background: white;
					height: $section-height - $section-margin-top;
				}
	
			}
		}
		
	
	
		.preview-label, .preview-span {
			vertical-align: top;
			font-weight: bold;
		}
	}
}

.branding-option {
	margin-top: 3px!important;
	width: 100%;
	height: 50px;
	background: #ffffff;
	color: #000000; 
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	border: 2px outset buttonface;
	box-sizing: border-box;
	padding: 2px!important;
	font-family: $font-stack;
}

.selected-option {
	color: $primary-color; 
	border-top: 2px solid #555555;
	border-left: 2px solid #555555;
}

.img-wrap {
	display: inline-block;
	position: relative;
	.img-x {
		position: absolute;
		color: black;
		opacity: .5;
		right: 10px;
		top: 10px;
		padding: 1px 8px;
		cursor: pointer;
	}
	.img-x:hover {
		opacity: 1;
		background: $primary-color;
	}

}


.yesNoDialogForm {
	padding: 15px;
}

.dialogButtons {
	margin-top: 15px;
}

	
.dz-preview {	
	.dz-details {
		img {
			display: none;
		}
		.dz-filename {
			display: none;
		}
		.dz-size {
			display: none;
		}
	}
	.dz-success-mark {
		display: none;
	}
	.dz-error-mark {
		display: none;
	}

}


.basal-font {
	font-size: $basal-font-size;
	font-family: $basal-font;
}



.dialogForm {
	padding: 25px;
	overflow: none;
}

#tag-options {
	width: 600px;
	margin: 0;
	padding: 0;
	height: 780px;
	display: inline-block;
	vertical-align: top;
}


/* OVERRIDES */
* {
	box-sizing: border-box;
}

li, ul, p {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

ul {
	list-style: none;
}

#content {
	padding: 0;
	margin: 0;
	width: 100%;
}

fieldset {
	border: none;
}

/* FONT STYLES */

.half-width {
	width: 47.5%;
	margin-left: 2%;
}

.quarter-width {
	width: 23.5%;
	margin-left: 1%;
}

.three-quarters-width {
	width: 71%;
	margin-left: 2.5%;	
}

.full-width {
	width: 100%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.bf {
	font-weight: 800;
}

.ital {
	font-style: italic;
}

.red-text {
	color: $primary-color;
}

.black-text {
	color: #000000;
}

.white-text {
	color: #ffffff;	
}

.green-text {
	color: #00ff00;
}

.red-background {
	background: $primary-color;
}

.green-background {
	background: #24a649;
}

.blue-background {
	background: #23498a;
}

.gray-background {
	background: #929491;
}

.black-background {
	background: #000000;
}

.white-background {
	background: #ffffff;
}

.divider {
	border-style: solid;
	border-color: #dadbdc;
	border-width: 0px
}

.divider-bottom {
	border-bottom-width: 3px;
}

.divider-right {
	border-right-width: 3px;
	padding-right: 10px;
	margin-right: 10px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.font-sans-serif {
	font-family: Arial, Helvetica, sans-serif!important;
}

.font-serif {
	font-family: "Times New Roman", Times, serif!important;
}

.font-monospace {
	font-family: "Courier New", Courier, monospace!important;
}

.new-line {
	display: block;
	margin-bottom: 10px;
}

.invisible {
	display: none!important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.absolute-right {
	position: absolute;
	right: 0;
	top: 0;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.run-in {
	display: inline-block;
}

.width-short {
	width: 50px!important;	
}

.hover-blue:hover {
	color: #0000FF; 
	cursor: pointer;
}

.list-head {
	font-size: $basal-font-size;
	font-family: sans-serif;
	font-weight: 600;
	border: none;
}

.list-vertical {
	margin-bottom: 10px;
}

.list-vertical li {
	overflow: hidden;
	margin-bottom: 10px;
}

.indent-1 {
	padding-left: 10px;
}

.font-arial {
	font-family: arial;
}

px-10 {
	font-size: 10px;
}


.inline {
	display: inline;
}

.inline-list li {
	display: inline;
	padding-right: 10px;
}

.inline-block li {
	display: inline-block;
	padding-right: 10px;
}

.full-width {
	width: 100%;
}


/* GENERATOR ELEMENTS */



/* OPTIONS */



#tag-frame-0.row-1.col-2 {
	width: 57px;
}



#tag-preview-info {
	height: 200px;
}


#tag-footer > * {
	text-align: center;
	color: white;
}





.main {
	width: 920px;
}




.upload-window {
	width: inherit;
}

.upload-image {
	.width: 100%;
}


/* HEADS */



.tag-h2 {

}

.tag-h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}


/* PREVIEW */



.option {
	font-family: sans-serif;
	font-size: 10px;
}

.inline-list-head {
	.inline-h4 {
		vertical-align: middle;
		margin: 0!important;
		padding: 0px 15px 0px 0px!important;
		height: 35px;
		font-weight: 400;	
	}
}


.colorbox-wrap {
	vertical-align: middle;
	cursor: pointer;
	padding: 3px!important;
	border: 1px solid rgba(255, 255, 255, 0);
}

.colorbox {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.colorbox-wrap.selected {
	border: 1px solid black;
}

/* FRAMES */

.tag-frame {
	display: block;
	width: 100%;
	border-radius: 4px;
	padding: 25px 25px 18px 25px; 
}


.tag-frames {
	height: 657px;
	border: 1px solid black;
	border-radius: 2px;
	margin-top: -6px;
}

/* TABS */

.tag-tabs {
}

.active > .tag-tab {
	border: 1px solid #000000;
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
}

.inactive > .tag-tab {
	border: none;
	border-bottom: 1px solid #000000;
	background: #dadbdc;
}

.inactive > .tag-tab-text {
	color: #000000;	
}

.active > .tag-tab-text {
	color: $primary-color;
}

.tag-tab-holder {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 185px;
}


.tag-tabs {
	margin-left: 10px;
}

.tag-tab {
	position: relative;
	-ms-transform: skew(-15deg, 0deg); /* IE 9 */
    -webkit-transform: skew(-15deg, 0deg); /* Chrome, Safari, Opera */
    transform: skew(-15deg, 0deg);
	border: 1px solid #000000;
	height: 40px;
}

.inactive > .tag-tab-text:hover {
	color: $primary-color;
}




.tag-tab-text {
	padding-top: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
}

/*ROWS & COLS */

.tag-row {
	display: block;
	margin-bottom: 23px;
	.tag-col {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}
	.tag-col:first-of-type {
		padding-left: 0;
		margin-left: 0;
	}
}

/* LISTS */
/* Horizontal */
.tag-h-ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

.tag-h-ul > li {
	display: inline-block;	
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
/* Vertical */

.tag-v-ul {
	position: relative;
}

.tag-v-ul > li {
	height: 35px;
	position: relative;
	display: block;
	vertical-align: top;
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 3px 0 4px 0;
}

/* Form Variables */

.tag-input[type="text"], .tag-input[type="password"], .tag-select, .tag-input[type="number"] {
	height: 36px;
	font-size: 14px;
	font-weight: 200;
	border: 1px solid black;
	background: #dadbdc;
	padding-left: 14px;
	width: 100%;
	border-radius: 0;
	font-family: $font-stack;
}

.tag-input[type="number"] {
	width: 75px;
}

.char-input {
	height: 36px;
	position: relative;
	padding: 4px 3px;
	width: 25px;
	border: 1px solid black;
	background: #dadbdc;
}

.tag-label {
	width: auto; 
}

button {
	background: #ffffff;
	cursor: pointer!important;
	border-radius: 5px;
	text-align: center;
	border: 2px outset buttonface;
	box-sizing: border-box;
	padding: 9px 15px;
	margin-top: 0;
}

.block-label {
	padding: 0px 15px;
	width: 100px;
}

.tag-button {
	font-family: 'Oswald', sans-serif;
	height: 36px;
	border-radius: initial;
	padding: 0;
	font-size: 14px;
	margin-top: 3px;
	margin-bottom: 3px;
	display: block;
	width: 259px;
	position: relative;
}

.add-button:hover, .destroy-button:hover {
	/* box-shadow: 0px 0px 5px 2px #234a8b; */
	border-color: #91a4c5 #234a8b #91a4c5 #234a8b;
}

.add-button {
	/* background: radial-gradient(ellipse closest-corner at 58% 59%, #FFFFFF, #CCCCCC); */
}

.add-button:focus, .destroy-butto:focus {
	border-top: 2px solid #777777;
	border-left: 2px solid #777777;
	/* background: radial-gradient(ellipse closest-corner at 58% 59%, #EEEEEE, #BBBBBB); */
	outline: 0;
	color: #000000;
	margin: 2px;
}

.tag-button:hover {
	background: #dadbdc;
}


.tag-button:focus {
	border-top: 2px solid #777777;
	border-left: 2px solid #777777;
	/* background: radial-gradient(ellipse closest-corner at 58% 59%, #EEEEEE, #BBBBBB); */
	outline: 0;
	color: #000000;
}


[type=file] {
	opacity: 0!important;
	filter: alpha(opacity=0)!important;
	position: absolute!important;
	top: 0!important;
	left: 0!important;
	width: inherit!important;
	height: inherit!important;
	padding: inherit!important;
	overflow: hidden;
	z-index: 200!important;
	cursor: pointer!important;
}

.upload-window {
	width: auto;
	height: 100px;
	border: 1px solid black;
}

#upload-logo, #upload-label {
	background: #dadbdc;
	height: 75px;	
	text-align: center;
	position: relative;
	overflow: auto;
	img {
		width: 125px;	
		position: absolute;
		top: 15px;
		left: 0;
		cursor: pointer;
	}
	img:hover {
		border: 1px solid #bf2026;
	}
}

.vertical-center {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Site Specific */
[name=labelCaption] {
	width: 257px;
	height: 56px;
}

#tag-frame-0 .row-3 .col-1 {
	width: 272px;
}

$custom-label-w: 300px;
$custom-label-h: 255px;



.tag-gallery {
	height: $custom-label-h;
	width: 100%;
	border: 1px solid black;
	padding: 0;	

	#upload-label {
		padding-top: 20%;
		margin: 0;
		height: $custom-label-h - 2;
		vertical-align: top;
		display: inline-block;
		overflow: hidden;
		width: 49.5%;
	}
	.image-collection {
		display: inline-block;
		overflow-y: auto;
		height: $custom-label-h - 2;
		width: 49.5%;
		.customImageView {
			display: block;
			width: 100%;
			border: 2px dotted #878787;
			cursor: pointer;
		}
		
		.customImageView:hover {
			border: 2px dotted $primary-color;	
		}
	}

}

.branding-text {
	li {
		margin: 0px!important;
		[name=dealershipName] {
			margin-top: 0px!important;
		}

		[name=dealershipTagline] {
			margin-top: 5px!important;
			height: 65px!important;
		}

	}

}


.logo-gallery {
	overflow-y: hidden;
	overflow-x: hidden;
	height: 105px;
	border: 1px solid black;
	background: #dadbdc;
	#upload-logo {
		padding-top: 10%;
		width: 100%;
	}
	.logo-collection {
		display: none;
		position: relative;
		.dealershipLogoView {
			position: relative;
			width: 100%;					
		}
		.dealershipLogoView:hover {
			border: 1px solid $primary-color;
		}

	}
}

#tag-frame-1 > .tag-row > .tag-col {
	width: 100%;
}

$config-field-w: 375px;
$config-label-w: 100px;

[name=vehicleConfig] {
	display: block!important;
	.tag-v-ul {	
		li {
			width: 100%;	
			margin-bottom: 15px;
			input[type=text], select {
				width: $config-field-w;
				position: absolute;
				left: $config-label-w + 5;
				top: 0;
			}
			
			.tag-label {
				width: $config-label-w;	
			}
		}
	}
}

$block-list-item-height: 46px;
$block-list-item-padding: 5px 0px 3px 5px;
.block-list-container {
	overflow:scroll;
	overflow-x:hidden;
	border: 1px solid black;
	width: 400px;
	height: 250px;
	button {
		width: 40px;
		margin: 0px 5px;	
	}

	.block-list {
		width: 100%;
		padding-left: 0px!important;
		input[type=checkbox] {
			width: 25px!important;
			margin-top: 10px!important;
		}

		li {
			position: relative;
			overflow: hidden;
			padding: $block-list-item-padding;
			height: $block-list-item-height;
			box-sizing: border-box;
			.option-price {
				.tag-input {
					width: 100px;
				}
			}
			span, button {
				vertical-align: middle;
			}
			
			.x-mark {
				float: right;
				color: black;
				opacity: .3;
				cursor: pointer;
			}
			.x-mark:hover {
				opacity: .7;
			}
		}
		li:nth-child(even) {
			background: #ffffff;
		}
	}
	.block-list-add-container {
		height: $block-list-item-height;
		padding: $block-list-item-padding;
		.block-list-new-item {
			color: white;
			height: $block-list-item-height;
			padding: $block-list-item-padding;
			
			.price-input {
				width: 100px;
				float: right;
			}
			.price-input:focus, option-input:focus {
				border-color: $primary-color;
			}
			.option-input {
				width: 200px;
			}
		}
	}
	.block-list-add-label {
		color: black;
		border: 1px solid black;
		height: $block-list-item-height;
		padding: $block-list-item-padding;
	}
	.block-list-add-label:hover {
		color: $primary-color;
		background: white;
	}
}

.vehicle-numbers {
	width: 242px;
}


.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}


.block-list > li:nth-child(odd) {
	background: #dadbdc;
}


.options-list > li {
	overflow: hidden;
	margin-bottom: 5px;
}

.tag-checkbox {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	
}

#tag-frame-3 .row-2 .list-vertical li {
	width: 300px;
}

#tag-frame-0 > div.tag-row.row-1.divider.divider-bottom > div.tag-col.divider.divider-right.first-col.col-1 > ul {
	margin-top: 5px;	
}




/* .ls-container, #menu-main-menu {
	display: none;
} */


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m4fb6s');
	src:url('fonts/icomoon.eot?#iefix-m4fb6s') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m4fb6s') format('woff'),
		url('fonts/icomoon.ttf?-m4fb6s') format('truetype'),
		url('fonts/icomoon.svg?-m4fb6s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}
.icon-folder:before {
	content: "\e60d";
}
.icon-folder-open:before {
	content: "\e60e";
}
.icon-print:before {
	content: "\e601";
}
.icon-screen:before {
	content: "\e602";
}
.icon-download:before {
	content: "\e603";
}
.icon-upload:before {
	content: "\e604";
}
.icon-disk:before {
	content: "\e607";
}
.icon-storage:before {
	content: "\e608";
}
.icon-key:before {
	content: "\e609";
}
.icon-key2:before {
	content: "\e605";
}
.icon-lock:before {
	content: "\e60a";
}
.icon-remove:before {
	content: "\e606";
}
.icon-download2:before {
	content: "\e60b";
}
.icon-upload2:before {
	content: "\e60c";
}


.dialogForm {
	width: 300px;
	height: auto;

	button {
		margin: 15px auto 0px auto;
		display: block;
	}
}

#pdfControls {
	margin-top: 5px;
	li {
		display: inline-block;
	}
	
}

#control-panel {
	.tag-controls {
		.tag-nav-buttons {
			li {
				vertical-align: top;
				height: 61px;
				
				.tag-h4 {
					padding-top: 5px;
					vertical-align: top;
				}
				.icon-button {
		
				}
			
				.tooltip { 
					visibility: hidden;
					text-align: center;
					color: $primary-color;
				}
			}
		}
	}
	
	#login-info {
		position: absolute;
		top: 0;
		right: 18px;
		.login-links {
			#login-message {
				padding-top: 5px;
			}
			#login-label {
				.icon-button {
					.login-txt {
						padding-right: 4px;
					}
				}
			
			}
		}
		.welcome-user-text {
			display: inline;
			padding-right: 15px;
		}
	}
}

.signupAlert {
	color: $primary-color;
	padding: 15px 10px 5px 10px;
	text-align: center;
}

