#overlay {
	z-index: 9998;
    width: 100%;
    height: 100%;
    background: #000;;
    opacity: 0;
    position: fixed; 
    top: 0;
    left: 0;
}

.dialogForm {
	display: block;
	margin: 0 auto;
	position: relative;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.ok-button {
	margin: 10px auto;
	display: block;
}

.page-section-overlay {
	position: relative;
}

.snakeskin-loader {
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#modal-close {
	position: absolute;
	right: 10px;
	top: 5px;
	color: black;
	opacity: .3;
	font-family: sans-serif;
	text-decoration: none;
	display: inline-block;
	padding: 1px 2px 2px 2px;
	cursor: pointer;
}

#modal-close:hover {
	opacity: 1;
	color: red;
}


#generator-modal {
    position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
}

.fail-message {
	margin-top: 20px;
	text-align: center;
}

#modal {
	box-sizing: border-box;
	z-index: 9999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: fixed;
	width: 400px;
	height: 250px;
	background: white;
	opacity: 0;	
	border-top: 2px solid #999999;
	border-left: 2px solid #999999;
	border-bottom: 2px solid #666666;
	border-right: 2px solid #666666;
}

#modal-content {
    background:#fff;
}

#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}