#overlay {
    width: 100%;
    height: 100%;
    /* background: #000; */
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.page-section-overlay {
	position: relative;
}

.full-page-overlay {
    position: fixed; 
    top: 0;
    left: 0;
}

#modal {
    position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
	height: 50px;
	width: 50px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
	min-height: 50px;
	min-width: 50px;
}

#close {
    position:absolute;
    background:url(close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

#page-loader {
	margin: 0 auto;
}